@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: whitesmoke;
}


/* HEADER */

#root>.header {
    background-color: rgb(235 235 255);
    padding: 60px 0;
    display: flex;
    flex-flow: column;
    gap: 20px;
    align-items: center;
}

#root>.header>button {
    background-color: rgb(49, 120, 212);
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#root>main {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 40px;
    min-height: calc(100vh - 2*60px - 48px - 3*20px - 20px - 1px);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    background-color: white;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 200px;
    display: flex;
    flex-flow: column;
    flex: 1;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.card.done {
    filter: contrast(0.5);
}

.card.done::after {
    content: '';
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background-image: url(../images/check-mark-emoji.png );
    background-position: 50%;
    background-size: 25%;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
}

.card .topic {
    filter: brightness(200%);
    color: black;
    width: fit-content;
    padding: 5px 25px;
    border-radius: 10px;
}

.card footer {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.modal {
    display: flex;
    flex-flow: column;
    gap: 20px;
    position: fixed;
    width: 400px;
    padding: 20px;
    background-color: white;
    z-index: 10;
    left: calc(50% - 400px/2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    top: 25%;
}

.modal input,
.modal textarea {
    padding: 5px;
    resize: none;
}

.modal .body {
    display: flex;
    gap: 10px;
    flex-flow: column;
}

.modal .body button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: tomato;
    color: white;
}

.modal .top {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}


/* FOOTER */

#root>footer {
    display: flex;
    background-color: #1d1d1d;
}

#root>footer h3 {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    color: white;
}

#root>footer a {
    text-transform: none;
    text-decoration: none;
}